body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #08000e;
  color: #fff;
  padding: 0 3%;

  /* width: 95%; */
}

.cta {
  background-color: #ffe500;
  color: #fff;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav > ul {
  display: flex;
  gap: 5%;
}

/* .links {
  display: none;
} */

.project {
  margin: 3% auto;
  width: 80%;
  text-align: center;
  border: 2px solid #fff;
  padding: 2%;
  border-radius: 10px;
}

.slides {
  width: 75%;
  margin: 0 auto;
}
