body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right, #000, rgb(0, 0, 0));
  color: #fff;
  padding: 0 3%;
}

.cta {
  background-color: #ffe500;
  color: #fff;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav > ul {
  display: flex;
  gap: 5%;
}

/* .links {
  display: none;
} */

.slides {
  width: 90%;
  margin: 0 auto;
}

button {
  background-color: #08000e;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 2%;
  width: 7rem;
}

.Front-End {
  background-image: linear-gradient(to bottom, #9bbec8, #08000e1b);
  margin: 3% auto;
  width: 60%;
  text-align: center;
  border: 2px solid #fff;
  padding: 2%;
  border-radius: 10px;
}

.Back-End {
  background-image: linear-gradient(to bottom, #427d9d, #08000e);
  margin: 3% auto;
  width: 60%;
  text-align: center;
  border: 2px solid #fff;
  padding: 2%;
  border-radius: 10px;
}

.Full-Stack {
  background-image: linear-gradient(to bottom, #164863, #08000e);
  margin: 3% auto;
  width: 60%;
  text-align: center;
  border: 2px solid #fff;
  padding: 2%;
  border-radius: 10px;
}

.techs {
  display: flex;
  flex-wrap: wrap;
}

.tech {
  border: 1px solid #fff;
  background-color: #ffffff85;
  font-size: 0.8rem;
  border-radius: 15px;
  width: 40%;
  margin: 2% auto;
  padding: 1%;
}

.proj-desc {
  padding: 2%;
  overflow-y: scroll;
  height: 150px;
}
