body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right, #08000e, rgb(30, 2, 40) );
  color: #fff;
  padding: 0 3%;
}

.cta {
  background-color: #ffe500;
  color: #fff;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav > ul {
  display: flex;
  gap: 5%;
}

/* .links {
  display: none;
} */

.project {
}

.slides {
  width: 90%;
  margin: 0 auto;
}

button {
  background-color: #08000e;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 2%;
  width: 7rem;
}

.Front-End {
  background-image: linear-gradient(to bottom, rgba(0, 128, 0, 0.621), #08000e);
  margin: 3% auto;
  width: 60%;
  text-align: center;
  border: 2px solid #fff;
  padding: 2%;
  border-radius: 10px;
}

.Back-End {
  background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.436), #08000e);
  margin: 3% auto;
  width: 60%;
  text-align: center;
  border: 2px solid #fff;
  padding: 2%;
  border-radius: 10px;
}

.Full-Stack {
    background-image: linear-gradient(to bottom, rgba(0, 255, 255, 0.323), #08000e);
    margin: 3% auto;
    width: 60%;
    text-align: center;
    border: 2px solid #fff;
    padding: 2%;
    border-radius: 10px;
}